<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

<!-- Sample1 -->
	<servlet>
		<servlet-name>Sample1</servlet-name>
		<servlet-class>sample.Sample1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample1</servlet-name>
		<url-pattern>/Sample1</url-pattern>
	</servlet-mapping>

<!-- Sample2 -->
	<servlet>
		<servlet-name>Sample2</servlet-name>
		<servlet-class>sample.Sample2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample2</servlet-name>
		<url-pattern>/Sample2</url-pattern>
	</servlet-mapping>

<!-- Sample3 -->
	<servlet>
		<servlet-name>Sample3</servlet-name>
		<servlet-class>sample.Sample3</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample3</servlet-name>
		<url-pattern>/Sample3</url-pattern>
	</servlet-mapping>

<!-- Sample4 -->
	<servlet>
		<servlet-name>Sample4</servlet-name>
		<servlet-class>sample.Sample4</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample4</servlet-name>
		<url-pattern>/Sample4</url-pattern>
	</servlet-mapping>

<!-- Sample5 -->
	<servlet>
		<servlet-name>Sample5</servlet-name>
		<servlet-class>sample.Sample5</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample5</servlet-name>
		<url-pattern>/Sample5</url-pattern>
	</servlet-mapping>

<!-- Sample6 -->
	<servlet>
		<servlet-name>Sample6</servlet-name>
		<servlet-class>sample.Sample6</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sample6</servlet-name>
		<url-pattern>/Sample6</url-pattern>
	</servlet-mapping>

<!-- Request1 -->
	<servlet>
		<servlet-name>Request1</servlet-name>
		<servlet-class>requestSample.Request1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Request1</servlet-name>
		<url-pattern>/Request1</url-pattern>
	</servlet-mapping>

<!-- Request2 -->
	<servlet>
		<servlet-name>Request2</servlet-name>
		<servlet-class>requestSample.Request2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Request2</servlet-name>
		<url-pattern>/Request2</url-pattern>
	</servlet-mapping>

<!-- Request3 -->
	<servlet>
		<servlet-name>Request3</servlet-name>
		<servlet-class>requestSample.Request3</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Request3</servlet-name>
		<url-pattern>/Request3</url-pattern>
	</servlet-mapping>

<!-- Request4 -->
	<servlet>
		<servlet-name>Request4</servlet-name>
		<servlet-class>requestSample.Request4</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Request4</servlet-name>
		<url-pattern>/Request4</url-pattern>
	</servlet-mapping>

<!-- Request5 -->
	<servlet>
		<servlet-name>Request5</servlet-name>
		<servlet-class>requestSample.Request5</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Request5</servlet-name>
		<url-pattern>/Request5</url-pattern>
	</servlet-mapping>

<!-- webxml1 -->
	<servlet>
		<servlet-name>webxml1_1</servlet-name>
		<servlet-class>webxmlSample.Webxml1_1</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>webxml1_2</servlet-name>
		<servlet-class>webxmlSample.Webxml1_2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>webxml1_1</servlet-name>
		<url-pattern>/webxml1_helloworld</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webxml1_2</servlet-name>
		<url-pattern>/webxml1.html</url-pattern>
	</servlet-mapping>

<!-- webxml2 -->
	<servlet>
		<servlet-name>webxml2_1</servlet-name>
		<servlet-class>webxmlSample.Webxml2_1</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>webxml2_2</servlet-name>
		<servlet-class>webxmlSample.Webxml2_2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>webxml2_1</servlet-name>
		<url-pattern>/webxml2_1/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webxml2_2</servlet-name>
		<url-pattern>/webxml2_2/*</url-pattern>
	</servlet-mapping>

<!-- webxml3 -->
	<servlet>
		<servlet-name>webxml3_1</servlet-name>
		<servlet-class>webxmlSample.Webxml3_1</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>webxml3_2</servlet-name>
		<servlet-class>webxmlSample.Webxml3_2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>webxml3_1</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webxml3_2</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>

<!-- webxml4 -->
<!-- <servlet>
		<servlet-name>webxml4</servlet-name>
		<servlet-class>webxmlSample.Webxml4</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>webxml4</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>-->

<!-- webxml5 -->
	<servlet>
		<servlet-name>webxml5</servlet-name>
		<servlet-class>webxmlSample.Webxml5</servlet-class>
		<init-param>
			<param-name>zeiritsu</param-name>
			<param-value>5</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>webxml5</servlet-name>
		<url-pattern>/webxml5</url-pattern>
	</servlet-mapping>

<!-- postgre1 -->
	<servlet>
		<servlet-name>postgre1</servlet-name>
		<servlet-class>postgreSample.Postgre1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>postgre1</servlet-name>
		<url-pattern>/postgre1</url-pattern>
	</servlet-mapping>

</web-app>